<%- include('include/header') %>
<div class="article-container">
    <div class="container">
        <%- include('news/news_breadcrumb') %>
        <h1 class="article-title">
            <%= news.title %>
        </h1>
        <div class="article-date-published">
            <%= news.uploadDate %>
        </div>
        <h2 class="article-summary"><%= news.summary %></h2>
        <div class="article-body">
            <%- news.content %>
        </div>
    </div>
</div>
<%- include('news/news_related') %>
<%- include('include/footer') %>