<div class="footer-policies">
    <div class="container">
        <%- DEFAULT && DEFAULT['footer_policies'] && DEFAULT['footer_policies']['content'] %>
    </div>
</div>

<%- include('menu-footer') %>

<div class="footer-container">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-md-8 col-xl-9">
                <%- DEFAULT && DEFAULT['footer'] && DEFAULT['footer']['content'] %>
            </div>
            <div class="col-xs-12 col-md-4 col-xl-3">
                <%- DEFAULT && DEFAULT['footer_right'] && DEFAULT['footer_right']['content'] %>
            </div>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container text-end">
        <%= DEFAULT && DEFAULT['footer_copyright'] && DEFAULT['footer_copyright']['content'] %>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="<%- assetsDir %>js/jquery-3.7.1.min.js"></script>
<script src="<%- assetsDir %>js/owl.carousel.min.js"></script>
<script type="text/javascript" src="<%- assetsDir %>js/main.js"></script>
<%- DEFAULT && DEFAULT['footer_javascript'] && DEFAULT['footer_javascript']['content'] %>
</body>
</html>